* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.App {
  text-align: center;
  flex: row;
  color: lightblue;
  height: 500px;
  overflow: scroll;
  

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
ul {
  width: 95%;
  align-content: center;
  overflow: scroll;
}

li {
  align-items: center;
  width: 95%;
  background: lightblue;
  display: flex;
  flex-direction: row;
  overflow: scroll;
}
li:after {
  content: "\A";
  white-space: pre;
}
li:nth-child(even) {
  margin-right: 0;
}
.images,
li,
ul {
  margin: 10 10px 10px 10;
  display: flex inline block;
  flex-direction: column;
  align-content: center;
  height: 100%;
  overflow: scroll;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.animated-icon {
  width: 20px;
  height: 20px;
  background-color: lightblue;
  border-radius: 50%;
  box-shadow: 0px 0px 4px white;
  transition: all 1s;
}

.header1 {
  padding: 10px;
  text-align: center;
  color: black;
  font-size: 20px;
  background-color: lightblue;

  

}

.Title{
  text-align: center;
}

.button {
  border-color: #f1c40f;
  color: #fff;
  background-image: -webkit-linear-gradient(45deg, #060058 50%, transparent 50%);
  background-image: linear-gradient(45deg, #010055 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}
.button:hover {
  background-position: 0;
}
 
